# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite
*.sqlite3

# Large Model Files
models/
*.keras
*.h5
*.pkl
*.pb

# Do not ignore the specific trained model files for deployment
!models/xray_model.keras
!models/mri_model.keras

# Datasets
datasets/

# Environments
.env
.venv
env/
venv/
ENV/
bin/
lib/
include/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Dynamic uploads and gradcam output images
static/uploads/
static/gradcam/
